.card {
    
    overflow: hidden;
    box-shadow: 0 2px 20px #cdcdcd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 500ms ease-in;
    background-color: white;
    
}

.card-img {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.card__title {
    padding: 0 1rem;
}

.card__description {
    padding: 0 1rem;
}